.footer
{
    background: linear-gradient(0deg, rgba(66, 0, 255, 0.6) -76.71%, rgba(27, 114, 255, 0.6) 45.36%, rgba(0, 194, 255, 0.6) 121.92%);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: $white;
    padding: 2.5rem;
    text-align: center;
    display: block;


.container
{

    @include breakpoint-up(large)
    {
        display:grid;
        grid-template-columns: 2fr 1fr 1fr 3fr;
        grid-template-rows: 1fr 1.2fr;
        grid-template-areas: "logo links1 links2 cta" 
                            " social links1 links2 copy1";
        justify-items: start;
        gap:1rem;
    
    }
}
    // a 
    // {
    //     color:$white;
    // }
    &--logo
    {
        display: inline-block;
        @include breakpoint-down(medium)
        {
            margin-bottom: 1.875rem;
        }
       
       
        @include breakpoint-up(large)
        {
            grid-area: logo;
        }
    }
    &--social
    {
        @include breakpoint-down(medium)
        {
            margin-bottom: 2rem;
        }
       
        a 
        {
            display: inline-block;
            height:1.5rem;
            justify-self: end;
            align-self: end;
        }
     
        a:not(:last-child) 
        {
            
            margin-right: 1rem;
            justify-self: end;
            align-self: end;
        }

        @include breakpoint-up(large)
        {
            grid-area: social;
            justify-self: start;
            align-self: end;

            //text-align: right;
         //   justify-self: end;
        }
    }
    &--textlinks
    {
        a
        {
            color:$white;
            &:hover
            {
                opacity:0.75;
            }
        }
      display: flex;
      
      flex-direction: column;
      align-items: center;
      line-height: 2.25rem;
      
      font-size: 0.9375rem;
      @include breakpoint-up(large)
        {
            align-items: start;
            justify-content: space-between;
        }

        &.col1
        {  
         @include breakpoint-up(large)
        {
            grid-area: links1;
            
        }

        }
        &.col2
        {
           
            @include breakpoint-up(large)
            {
                grid-area: links2;
                

            }

            @include breakpoint-down(medium)
            {
                margin-bottom: 1.875rem;
            }
                
            
        }
    }
    &--cta
    {
        margin-bottom:1.75rem;
       
        @include breakpoint-up(large)
            {
                grid-area: cta;
                text-align: right;
                justify-self: end;
            }

        // a.button 
        // {
          
        //     @include breakpoint-down(medium)
        //     {
        //         margin-bottom:1.75rem;
        //     }
           
        // }
    }
    &--copyright
    {
        font-size: 0.9375rem;
        color:$white;
        @include breakpoint-up(large)
        {
            grid-area:copy1;
            align-self: end;
            justify-self: end;

        }

    }

}