.header
{


    &__modalmenu
    {
        position: absolute;
        width: calc(100% - 3rem);
        left: 50%;
        -webkit-transform: translateX(-50%);
                transform: translateX(-50%);
        background: white;
        margin-top: 1.5rem;
        padding: 1.625rem;
        border-radius: 5px;
        z-index: 1000;
      
        a
        {
            display: block;
  padding: 0.625rem;
  color: #2d314d;
  text-align: center;

         
        }

    }
    &.open 
    {
       .overlay
       {
           visibility:visible;
       }
        
        .header__menu
        {
    >span:nth-child(1)
    {
    
        transform : rotate(45deg);
    }
    >span:nth-child(2)
    {
        opacity:0;
    }
    >span:nth-child(3)
    {
        transform : rotate(-45deg);
    }
    }
    }


    nav
    {
        padding-top:1.0625rem;
        padding-bottom:1.0625rem;
        position: relative;
        background: #FFFFFF;
        
        

    }
   

    &__toggle
    {
         > span
        {
            display: block;
            width: 26px;
            height: 2px;
            background-color:$darkblue;
            border-radius: 50px;
           

            &:not(:last-child)
            {
                margin-bottom:5px;
            }
            transition : all 200ms ease-in-out;

            transform-origin: 3px 1px;
            



        }
        
    }
       
    &__links
    {
    a
    {
        position: relative;
        font-size:$font-sm;
        color:$bluegrey;
        &:not(:last-child)
        {
            margin-right:30px;
        }
        &::before
        {
            content: "";
            display:block;
            position: absolute;
            height: 5px;
            left : 0;
            right : 0;
            bottom : -20px;   
            background: linear-gradient(90deg, rgba(66,0,255,1) 0%, rgba(27,114,255,1) 61%, rgba(0,194,255,1) 100%);            opacity: 0;
            transition: opacity 300ms ease-in-out;
            border-radius: 20px;

        }
        &:hover 
        {
            transition : color 300ms ease-in-out;
            color:$bluegrey;
            color:$darkblue;
            &::before
            {
                opacity : 1;
            }
        }


    }

}
.overlay
{
    position:fixed;
    top: 0;
    left: 0;
    bottom : 0;
    right : 0;
    background-color: #1B72FF;
    background: linear-gradient(#1B72FF,transparent);

}

}
