.has-fade {
  visibility: hidden;
}

@-webkit-keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

.fade-in {
  -webkit-animation: fade-in 300ms ease-in-out forwards;
          animation: fade-in 300ms ease-in-out forwards;
}

@-webkit-keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: hidden;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

@keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: hidden;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

.fade-out {
  -webkit-animation: fade-out 300ms ease-in-out forwards;
          animation: fade-out 300ms ease-in-out forwards;
}

html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

a, a:visited {
  text-decoration: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #4200ff;
}

a:hover {
  text-decoration: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: white;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.3;
  color: #51535f;
  font-weight: 300;
  font-size: 0.1 0.125rem;
  overflow-x: hidden;
}

h1, h2, h3 {
  margin-top: 0px;
  line-height: 1.15;
  font-weight: 300;
  color: #2d314d;
}

h1 {
  font-size: 2.31rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
}

@media (min-width: 40em) {
  h1 {
    margin-bottom: 2.0rem;
    font-size: 3.17rem;
  }
}

p {
  line-height: 1.8rem;
  color: #9698a6;
  margin-bottom: 2.25rem;
  font-size: 131%;
}

h2 {
  font-size: 1.875rem;
  font-weight: 400;
  margin-bottom: 1.5625rem;
}

@media (min-width: 64em) {
  h2 {
    font-size: 2.5rem;
    margin-bottom: 2.25rem;
  }
}

.noscroll {
  overflow: hidden;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

button, .button {
  padding: 0.875rem 2.4375rem;
  border-radius: 50px;
  color: black;
  font-weight: 400;
  -webkit-box-shadow: 0 0 6px 0 rgba(48, 48, 48, 0.5);
          box-shadow: 0 0 6px 0 rgba(48, 48, 48, 0.5);
  border: solid 3px transparent;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #4200ff, #00c2ff);
  background-origin: border-box;
  background-clip: content-box, border-box;
  -webkit-box-shadow: 2px 1000px 1px #fff inset;
          box-shadow: 2px 1000px 1px #fff inset;
}

button.button:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  color: white;
}

@media (max-width: 63.9375em) {
  .hide-for-mobile {
    display: none;
  }
}

.container {
  position: relative;
  max-width: 69.375rem;
  margin: 0 auto;
}

.container--pall {
  padding-left: 1.125rem;
  padding-right: 1.125rem;
  padding-top: 4.375rem;
  padding-bottom: 4.375rem;
}

@media (min-width: 64em) {
  .container--pall {
    padding-top: 6.0rem;
    padding-bottom: 6.0rem;
  }
}

.container--px {
  padding-left: 1.125rem;
  padding-right: 1.125rem;
}

.container--py {
  padding-top: 4.375rem;
  padding-bottom: 4.375rem;
}

@media (min-width: 64em) {
  .container--py {
    padding-top: 6.0rem;
    padding-bottom: 6.0rem;
  }
}

.container--pt {
  padding-top: 4.375rem;
}

@media (min-width: 64em) {
  .container--pt {
    padding-top: 6.0rem;
  }
}

.container--pb {
  padding-bottom: 4.375rem;
}

@media (min-width: 64em) {
  .container--pb {
    padding-bottom: 6.0rem;
  }
}

.container--pl {
  padding-left: 1.125rem;
}

.container--pr {
  padding-right: 1.125rem;
}

@media (min-width: 64em) {
  .hide-for-desktop {
    display: none;
  }
}

.hero {
  background-color: #fafafa;
}

@media (min-width: 64em) {
  .hero .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

.hero__image {
  position: relative;
  background: url(/images/bg-intro-mobile.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 18.5rem;
}

@media (min-width: 40em) {
  .hero__image {
    min-height: 34rem;
  }
}

@media (min-width: 64em) {
  .hero__image {
    -webkit-box-flex: 3;
        -ms-flex: 3;
            flex: 3;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    background-image: none;
    height: 41rem;
    background-position: center center;
  }
}

.hero__image::before {
  content: "";
  position: absolute;
  display: block;
  height: 100%;
  background-repeat: no-repeat;
}

@media (min-width: 64em) {
  .hero__image::before {
    background: url(/images/desktophero.png);
    width: 175%;
    background-size: 121%;
    background-position: 32% 86%;
  }
}

.hero__image::after {
  content: "";
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  background: url(/images/claymockups.png);
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: 50% 95%;
}

@media (min-width: 64em) {
  .hero__image::after {
    width: 153%;
    height: 132%;
    background-position: 94% 252%;
  }
}

.hero__text {
  text-align: center;
}

@media (min-width: 64em) {
  .hero__text {
    -webkit-box-flex: 3;
        -ms-flex: 3;
            flex: 3;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    text-align: left;
  }
}

.header__modalmenu {
  position: absolute;
  width: calc(100% - 3rem);
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background: white;
  margin-top: 1.5rem;
  padding: 1.625rem;
  border-radius: 5px;
  z-index: 1000;
}

.header__modalmenu a {
  display: block;
  padding: 0.625rem;
  color: #2d314d;
  text-align: center;
}

.header.open .overlay {
  visibility: visible;
}

.header.open .header__menu > span:nth-child(1) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header.open .header__menu > span:nth-child(2) {
  opacity: 0;
}

.header.open .header__menu > span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header nav {
  padding-top: 1.0625rem;
  padding-bottom: 1.0625rem;
  position: relative;
  background: #FFFFFF;
}

.header__toggle > span {
  display: block;
  width: 26px;
  height: 2px;
  background-color: #2d314d;
  border-radius: 50px;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  -webkit-transform-origin: 3px 1px;
          transform-origin: 3px 1px;
}

.header__toggle > span:not(:last-child) {
  margin-bottom: 5px;
}

.header__links a {
  position: relative;
  font-size: 0.875rem;
  color: #9698a6;
}

.header__links a:not(:last-child) {
  margin-right: 30px;
}

.header__links a::before {
  content: "";
  display: block;
  position: absolute;
  height: 5px;
  left: 0;
  right: 0;
  bottom: -20px;
  background: -webkit-gradient(linear, left top, right top, from(#4200ff), color-stop(61%, #1b72ff), to(#00c2ff));
  background: linear-gradient(90deg, #4200ff 0%, #1b72ff 61%, #00c2ff 100%);
  opacity: 0;
  -webkit-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
  border-radius: 20px;
}

.header__links a:hover {
  -webkit-transition: color 300ms ease-in-out;
  transition: color 300ms ease-in-out;
  color: #9698a6;
  color: #2d314d;
}

.header__links a:hover::before {
  opacity: 1;
}

.header .overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #1B72FF;
  background: -webkit-gradient(linear, left top, left bottom, from(#1B72FF), to(transparent));
  background: linear-gradient(#1B72FF, transparent);
}

.has-fade {
  visibility: hidden;
}

@keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

.fade-in {
  -webkit-animation: fade-in 300ms ease-in-out forwards;
          animation: fade-in 300ms ease-in-out forwards;
}

@keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: hidden;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

.fade-out {
  -webkit-animation: fade-out 300ms ease-in-out forwards;
          animation: fade-out 300ms ease-in-out forwards;
}

.feature {
  background-color: #F4F5F7;
  text-align: center;
}

@media (min-width: 40em) {
  .feature {
    text-align: left;
  }
}

.feature__intro {
  margin-bottom: 3.75rem;
}

@media (min-width: 64em) {
  .feature__intro {
    width: 70%;
  }
}

@media (min-width: 40em) {
  .feature__grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.feature__item {
  padding: 0.9375rem;
}

@media (min-width: 40em) {
  .feature__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
}

@media (min-width: 64em) {
  .feature__item {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    padding: 0.935rem;
  }
}

.feature__icon {
  margin-bottom: 1.875rem;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}

@media (min-width: 64em) {
  .feature__icon {
    margin-bottom: 2.75rem;
  }
}

.feature__icon:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.feature__title {
  font-size: 1.25rem;
  line-height: 1.15;
  font-weight: 300;
  margin-top: 0px;
  margin-bottom: 1rem;
  color: #2d314d;
}

@media (min-width: 64em) {
  .feature__title {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }
}

.feature__text {
  font-size: 1rem;
  line-height: 1.5rem;
}

.articles {
  background: #fafafa;
}

.article--grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 1.875rem;
}

@media (min-width: 40em) {
  .article--grid {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 64em) {
  .article--grid {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

.article--item {
  border-radius: 0.3125rem;
  overflow: hidden;
  background-color: white;
  -webkit-box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.15);
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}

.article--item:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.article--image {
  height: 12.5rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 5px 5px 0px 0px;
}

.article--text {
  padding: 1.875rem 1.875rem 2.5rem 1.875rem;
  border-radius: 0px 0px 10px 10px;
  color: #9698a6;
}

@media (min-width: 40em) {
  .article--text {
    padding: 1.875rem 1.5625rem;
  }
}

.article--author {
  font-size: 0.625rem;
  margin-bottom: 0.75rem;
}

.article--tittle {
  font-size: 1.0625rem;
  line-height: 1.2rem;
  color: #2d314d;
  margin-bottom: 0.8125rem;
}

.article--tittle:hover {
  background: -webkit-gradient(linear, left top, right top, from(#020024), color-stop(0%, #4200ff), to(#00c2ff));
  background: linear-gradient(90deg, #020024 0%, #4200ff 0%, #00c2ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.article--des {
  font-size: 0.8125rem;
  line-height: 1.09rem;
}

.footer {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(-76.71%, rgba(66, 0, 255, 0.6)), color-stop(45.36%, rgba(27, 114, 255, 0.6)), color-stop(121.92%, rgba(0, 194, 255, 0.6)));
  background: linear-gradient(0deg, rgba(66, 0, 255, 0.6) -76.71%, rgba(27, 114, 255, 0.6) 45.36%, rgba(0, 194, 255, 0.6) 121.92%);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: white;
  padding: 2.5rem;
  text-align: center;
  display: block;
}

@media (min-width: 64em) {
  .footer .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 2fr 1fr 1fr 3fr;
        grid-template-columns: 2fr 1fr 1fr 3fr;
    -ms-grid-rows: 1fr 1.2fr;
        grid-template-rows: 1fr 1.2fr;
        grid-template-areas: "logo links1 links2 cta"  " social links1 links2 copy1";
    justify-items: start;
    gap: 1rem;
  }
}

.footer--logo {
  display: inline-block;
}

@media (max-width: 63.9375em) {
  .footer--logo {
    margin-bottom: 1.875rem;
  }
}

@media (min-width: 64em) {
  .footer--logo {
    grid-area: logo;
  }
}

@media (max-width: 63.9375em) {
  .footer--social {
    margin-bottom: 2rem;
  }
}

.footer--social a {
  display: inline-block;
  height: 1.5rem;
  -ms-grid-column-align: end;
      justify-self: end;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

.footer--social a:not(:last-child) {
  margin-right: 1rem;
  -ms-grid-column-align: end;
      justify-self: end;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

@media (min-width: 64em) {
  .footer--social {
    grid-area: social;
    -ms-grid-column-align: start;
        justify-self: start;
    -ms-flex-item-align: end;
        -ms-grid-row-align: end;
        align-self: end;
  }
}

.footer--textlinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 2.25rem;
  font-size: 0.9375rem;
}

.footer--textlinks a {
  color: white;
}

.footer--textlinks a:hover {
  opacity: 0.75;
}

@media (min-width: 64em) {
  .footer--textlinks {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (min-width: 64em) {
  .footer--textlinks.col1 {
    grid-area: links1;
  }
}

@media (min-width: 64em) {
  .footer--textlinks.col2 {
    grid-area: links2;
  }
}

@media (max-width: 63.9375em) {
  .footer--textlinks.col2 {
    margin-bottom: 1.875rem;
  }
}

.footer--cta {
  margin-bottom: 1.75rem;
}

@media (min-width: 64em) {
  .footer--cta {
    grid-area: cta;
    text-align: right;
    -ms-grid-column-align: end;
        justify-self: end;
  }
}

.footer--copyright {
  font-size: 0.9375rem;
  color: white;
}

@media (min-width: 64em) {
  .footer--copyright {
    grid-area: copy1;
    -ms-flex-item-align: end;
        -ms-grid-row-align: end;
        align-self: end;
    -ms-grid-column-align: end;
        justify-self: end;
  }
}
/*# sourceMappingURL=styles.css.map */